html:root {
	--text: rgb(240, 240, 240);
	--background: rgba(0, 0, 0, 1);
	--background: url(/api?type=getbg);
	--backgroundEle: rgba(0, 0, 0, 0.4);
	--round: 0.4rem;
	--blur: 2rem;
	--margin: 0.2rem;
	--padding: 0.4rem;
}
*{
	box-sizing:border-box;
	transition:0.4s cubic-bezier(0.6,0,0.4,1);
	animation:0.4s cubic-bezier(0.6,0,0.4,1) 1;
	font-family: "Segoe UI","Roboto","Noto Sans";
	text-shadow: 0.1rem 0.1rem 0.2rem var(--backgroundEle);
}
a{
	cursor: pointer;
}
a:hover{
	text-decoration: underline;
}
html,body {
	height: 100%;
}
body {
	background: var(--background);
	color: var(--text);
	margin: 0;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}
#app {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: calc(var(--padding)/2);
	padding-bottom: env(safe-area-inset-bottom, calc(var(--padding)/2));
	padding-top: env(safe-area-inset-top, calc(var(--padding)/2));
}
#app > #appbgblur {
	backdrop-filter: blur(calc(var(--blur)/5));
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
button,input,select {
	background: var(--backgroundEle);
	backdrop-filter: blur(var(--blur));
	color: var(--text);
	border-radius: var(--round);
	border: 0.1rem solid var(--text);
	cursor: pointer;
	font-size: 1rem;
}
button {
	display: flex;
	justify-content: center;
    align-items: center;
	padding: calc(var(--padding)/5*4);
}
button > * {
	margin: calc(var(--padding)/5*2);
}
input,select {
	cursor: auto;
	min-width: 50%;
	max-width: 100%;
}
header {
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 0;
	align-items: stretch;
	border-radius: var(--round);
	margin: var(--margin);
	padding: calc(var(--padding)/2);
	background: var(--backgroundEle);
	backdrop-filter: blur(var(--blur));
}
#title {
	margin: 0.2rem;
	font-size: 1.2rem;
	align-content: center;
}
header div {
	font-size: 1.2rem;
	font-weight: 500;
	align-content: center;
}
#container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	overflow: hidden;
}
#container > * {
	display: flex;
    flex-direction: column;
}
#container > * > * {
	margin: var(--margin);
	padding: var(--padding);
	border-radius: var(--round);
	background: var(--backgroundEle);
	backdrop-filter: blur(var(--blur));
}
#container > * > .empty{
	height: 0;
	padding: 0;
	margin: 0;
}
#container > .right {
	min-width: 0;
}
#container > .left {
	min-width: calc(10% + 12rem);
	width: calc(10% + 12rem);
}
#container > .left.hide {
	min-width: 0;
	width: 0;
}
#container > .left.hide * {
	margin: 0;
	padding: 0;
}
nav {
	overflow: auto;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}
#contentBar { 
	display: flex;
	justify-content: flex-end;
}
#contentBar > * { 
	margin: 0 var(--margin);
}
#contentBar > :last-child { 
	margin: 0;
}
#content {
	flex-grow: 1;
}
svg {
	width: 1.2rem;
	fill: none;
	stroke: var(--text);
	stroke-width: 0.2rem;
}
#serieCover{
	overflow: hidden;
	padding: 0.4rem;
	flex-shrink: 0;
}
#serieCover img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}
#log{
	min-height: 6rem;
	overflow: hidden;
	padding: var(--padding);
	flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#log>div:nth-child(1){
	border-bottom: 1px solid;
}
#log>div:nth-child(2){
	overflow-y: scroll;
	flex-grow: 1;
}
#log>div:nth-child(2)>*{
	margin: 0;
	font-size: 0.9rem;
	line-height: 1rem;
	word-break: break-word;
	padding-bottom: 1rem;
}
.formContainer{
	width: 20vw;
	min-width: 20rem;
	max-width: 80vw;
	padding: 0.6rem 1rem;
	border: 1px solid #fff;
	border: 0.1rem solid var(--text);
	border-radius: var(--round);
	backdrop-filter: blur(var(--blur));
	z-index: 10;
	overflow: auto;
}
.formContainer.center {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
}
.formContainer.remove {
	transform: translateX(-50%) scale(0);
}
.formContainer > .title {
	font-size: 1.2rem;
	font-weight: 500;
}
.formContainer.form {
	display: flex;
	flex-direction: column;
	padding: var(--padding);
}
.formContainer.form > * {
	margin: var(--margin);
}
.formContainer.form > label {
	display: flex;
	align-items: baseline;
}
.formContainer.form > label > * {
	width: 100%;
	margin-left: calc(var(--margin)*2);
}
.formContainer.form  > .action {
	display: flex;
	flex-direction: row-reverse;
}
.formContainer.form > .action > * {
	margin: var(--margin);
}

.loginlogout {
	margin-left: auto;
}
.loginlogout:not(.login) #logout {
	display: none;
}
.loginlogout.login #login {
	display: none;
}
#content[data-display-type=table] { 
	--col-template: auto;
	display: flex;
	overflow: hidden;
	flex-direction: column;
}
#content[data-display-type=table] *{ 
	font-size: 1rem;
}
#content[data-display-type=table] > .header {
	display: grid;
	grid-template-columns: var(--col-template);
	position: sticky;
	top: 0;
	font-weight: bold;
	text-transform: capitalize;
	z-index: 1;
	height: 2rem;
}
#content[data-display-type=table] > .header > .header {
	height: 2rem;
	backdrop-filter: blur(var(--blur));
	cursor: pointer;
}
#content[data-display-type=table] > .data {
	flex-direction: column;
	display: grid;
	grid-template-columns: var(--col-template);
	scrollbar-width: none;
	overflow: scroll;
	position: relative;
}
#content[data-display-type=table] > *:not(.scrollbar) > * {
	padding: 0.2rem 0.4rem;
	border: 1px solid;
	display:-webkit-box;
	display:box;
	-moz-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-orient:vertical;
	-webkit-line-clamp:2;
	line-clamp:2;
	word-break:break-word;
	overflow:hidden;
	white-space: pre-wrap;
	height: 3.2rem;
	line-height: 1.4rem;
}
#content[data-display-type=table] > .scrollbar {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 1rem;
	overflow-y: scroll;
	opacity: 0;
	margin: var(--padding);
}
#content[data-display-type=table] > .scrollbar:hover {
	opacity: 1;
}
#content[data-display-type=table] > * > .header:first-child {
	border-radius: var(--round) 0 0 0;
}
#content[data-display-type=table] > * > .header:last-child {
	border-radius: 0 var(--round) 0 0;
}
#content[data-display-type=table] > .data > * {
	border-top: none;
}
#content[data-display-type=table] *[data-select="true"] {
	text-decoration:underline;
}
.context{
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	display: flex;
	flex-direction: column;
	padding: var(--padding);
	border: 0.1rem solid var(--text);
	border-radius: var(--round);
	backdrop-filter: blur(var(--blur));
	z-index: 10;
}
.context > button{
	background: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
}
.context > button:not(:first-child){
	border-top: none;
}
.context > button:hover, .context > button:focus {
	background: var(--backgroundEle);
}
#context > .context{
	position: fixed;
	overflow-y: auto;
	z-index: 999;
}
.progressCon{
	background: #333;
	border-radius: var(--round);
	overflow: hidden;
}
.progressCon > .progress{
	min-height: 1rem;
	height: 100%;
	background: rgba(254, 142, 1, 1);
	border-radius: inherit;
	font-size: 0.8rem;
	text-align: center;
	white-space: nowrap;
}
#progress .progressCon{
	height: 2rem;
	margin-bottom: var(--padding);
	scroll-snap-align: center;
	scroll-snap-stop: always;
	scroll-snap-align: center;
}
#progress .progressCon:last-child{
	margin-bottom: 0;
}
#progress .progressCon > .progress{
	font-size: 1rem;
	line-height: 2rem;
}
#progress{
	height: calc((var(--padding)*2) + 2rem);
	overflow: auto;
	flex-shrink: 0;
	scroll-snap-type: y mandatory;
}